body {
  background-color: #C4C7CB;
}

.containerGral {
  display: flex;
  margin: 1px auto;
  border-radius: 10px;
}

.container {
  flex-direction: column;
  background-color: #ffff;
  justify-content: left;
  border-radius: 10px;
  width: 550px;
  height: 565px;
}

.container h5 {
  margin: 10px 0px 5px 10px; 
}

.container .subtitle {
  display: flex;
  align-self: flex-start;
  margin-left: 20px;
}

.button {
  margin-top: 30px;
}